.hadith{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: max-content;
}
.hadith .address{
    color: rgb(15, 195, 15);
    position: relative;
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 30px 0px ;
   margin-top: 10px;
}
.hadith .address .span1{
    width: 100%;
    bottom: -5px;
    height: 3px;
    position: absolute;
    color: rgb(15, 195, 15);
    background-color:rgb(15, 195, 15);
}
.hadith .address .span2{
    width: 80%;
    bottom: -20px;
    height: 3px;
    position: absolute;
    color: rgb(15, 195, 15);
    background-color:rgb(15, 195, 15);
}
.slider{
    width:60%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* overflow-y: scroll; */
    padding: 20px;
    height: 300px;
    z-index: 222;
    border: 1px solid gray;
    cursor: pointer;
    margin-bottom: 30px;
    background-color: white;
}
.slider .pp{
    max-width: 100%;
    height:220px;
    overflow-y: scroll;
    font-size:20px;
    padding-right:2px;
    text-align: center;

}
.hadithh{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: max-content;
}
.slider button   {
    background-color: green!important;
    color: black!important;
    border-radius: 50%;
    height:max-content!important;
    font-size: 0px!important;
}
.slider  .slick-next {

right: -50px!important;

}
.slider  .slick-prev {
left:-50px!important;

}

::-webkit-scrollbar{
width: 10px;
background-color: rgb(255, 255, 255);
border-radius: 15px;
direction: rtl;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:rgb(15, 195, 15); /* لون الخلفية لشريط التمرير */
    direction: rtl;

  }
  .inf h3{
    margin: 10px 0px;
  }
  @media screen and (max-width:480px) {
 .slider{
    width: 90%;
    overflow: hidden;
    height: max-content;
 }.slider .pp{
    height: 80vh;
 }
   }
   @media screen and (min-width:481px) and (max-width:768px) {
     
    .slider{
        width: 90%;
        overflow: hidden;
        height: max-content;
     }.slider .pp{
        height: 70vh;
     }
   }
   